.background-radial-gradient {
    background: radial-gradient(#010101, #774DB3);
 
  }
  

  #radius-shape-1 {
  
    height: 220px;
    width: 220px;
    top: -60px;
    left: -300px;
    background: radial-gradient(#2b2b2b, #774DB3);
    overflow: hidden;
  }

  #radius-shape-2 {
    border-radius: 38% 62% 63% 37% / 70% 33% 67% 30%;
    bottom: 50px;
    right: -50px;
    width: 300px;
    height: 300px;
    background: radial-gradient(#E4F1FC, #774DB3);
    overflow: hidden;
  }
  @media (max-width: 1100px){
    #radius-shape-1{
      display: none;
    }
    #radius-shape-2{
      display: none;
    }
  }
  

  .bg-glass {
    color: rgb(0, 0, 0);
    background-color: hwb(0 100% 0% / 0.66) !important;
    backdrop-filter: saturate(200%) blur(25px);
  }