@import url("./assets/css/bootstrap.min.css");
@import url('./assets/css/Connexion.css');
@import url('./assets/css/Chargement.css');
@import url('./assets/css/Paiement.css');
@import url('./assets/css/ValidPaiement.css');
@import url('./assets/css/navbar.css');


body{
  width: 97vw;
}


.page-enter {
    opacity: 0;
    transform: translateY(-20px);
  }
  
  .page-enter-active {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 300ms, transform 300ms;
  }
  
  .page-exit {
    opacity: 1;
  }
  
  .page-exit-active {
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 300ms, transform 300ms;
  }